<nav class="page-sequence">
	{{ if .NextInSection }}<a class="sequence-link prev-page"
		{{- if site.Params.usehtmx }} hx-get="{{ .NextInSection.Permalink }}" hx-select="#main" hx-target="#main" hx-swap="outerHTML" hx-push-url="true"
		{{- else }} href="{{ .NextInSection.Permalink }}"
		{{- end }}>&lt; {{ i18n "previousPage" }}<br />
		{{- if gt ( .NextInSection.Title | strings.Count "" ) 20 }}{{ slicestr .NextInSection.Title 0 20 }} ...
		{{- else }}{{ .NextInSection.Title }}{{ end }}</a>
	{{- else }}<a class="sequence-link index-page"
		{{- if site.Params.usehtmx }} hx-get="{{ .CurrentSection.Permalink }}" hx-select="#main" hx-target="#main" hx-swap="outerHTML" hx-push-url="true"
		{{- else }} href="{{ .CurrentSection.Permalink }}"
		{{- end }}>{{ i18n "index" .CurrentSection.Title }}<br />&nbsp;</a>
	{{- end }}
	{{ if .PrevInSection }}<a class="sequence-link next-page"
		{{- if site.Params.usehtmx }} hx-get="{{ .PrevInSection.Permalink }}" hx-select="#main" hx-target="#main" hx-swap="outerHTML" hx-push-url="true"
		{{- else }} href="{{ .PrevInSection.Permalink }}"
		{{- end }}>{{ i18n "nextPage" }} &gt;<br />
		{{- if gt ( .PrevInSection.Title | strings.Count "" ) 20 }}{{ slicestr .PrevInSection.Title 0 20 }} ...
		{{- else }}{{ .PrevInSection.Title }}{{ end }}</a>
	{{- else }}<a class="sequence-link index-page"
		{{- if site.Params.usehtmx }} hx-get="{{ .CurrentSection.Permalink }}" hx-select="#main" hx-target="#main" hx-swap="outerHTML" hx-push-url="true"
		{{- else }} href="{{ .CurrentSection.Permalink }}"
		{{- end }}>{{ i18n "index" .CurrentSection.Title }}<br />&nbsp;</a>
	{{- end }}
</nav>
