{{- define "main" -}}
<main id="main">

	<section class="rounded-block top-block">
		<h1>{{ with site.Params.worksTitle }}{{ . }}{{ else }}{{ i18n "works" }}{{ end }}</h1>
		{{- with site.Params.worksDescription }}
		<p class="description">{{ . | markdownify }}</p>
		{{- else }}
		<p class="description">{{ i18n "worksPageDescription" | markdownify }}</p>
		{{- end }}
		{{- with site.Params.worksLinks }}
		{{- partial "social.html" . }}
		{{- end }}
	</section>

	{{- with .Content }}
	<section class="rounded-block">
	{{ . }}
	</section>
	{{- end }}

	<section class="rounded-block works-all">
		<table class="works-table">
			<thead>
				<tr class="works-head">
					<th class="title-md col1">{{ i18n "worklink" }}</th>
					<th class="title-md col2">{{ i18n "roles" }}</th>
					<th class="title-md col3">{{ i18n "skills" }}</th>
				</tr>
			</thead>
			<tbody>
			{{- range .RegularPages }}
				<tr id="{{ .File.UniqueID }}" class="works-row odd-shaded">
					<td class="col1"><span class="rw-title"><a href="{{ .Page.Permalink }}">{{ .Params.title }}</a></span><span class="rw-subtitle">{{ .Params.subtitle }}</span></td>
					<td class="col2 role-tags"><ul class="roles">{{ range .Params.roles }}<li class="role" data-selector="{{ . | urlize }}">{{.}}</li>{{end}}</ul></td>
					<td class="col3 skill-tags"><ul class="skills">{{ range .Params.skills }}<li class="skill" data-selector="{{ . | urlize }}">{{.}}</li>{{end}}</ul></td>
				</tr>
			{{- end }}
			</tbody>
		</table>
	</section>
</main>
{{- end -}}
