{{ if .IsNamedParams -}}
{{- $src := .Get "src" }}
{{- $srcUrl := $src }}
{{- if eq ( substr $src 0 4 ) "http" }}
{{- $srcUrl := resources.GetRemote $src }}
{{- else }}
  {{- with resources.Get $src }}
  {{- $srcUrl = .Permalink }}
  {{- else }}
  {{- $srcUrl = $src | relURL }}
  {{- end }}
{{- end }}
<div class="img-float-{{ .Get "pos" }}{{ with .Get "class" }} {{.}}{{end}}
{{- with .Get "dim" }}{{ if eq . "yes" }} dim{{ end }}{{ end }}">
  <a href="{{ $srcUrl }}" target="_blank"><img width="100%"
     src="{{ $srcUrl }}" alt="{{ .Get "alt" }}"/></a></div>
{{ .Inner | markdownify }}
<div style="clear:both"></div>
{{- else }}
{{- errorf "missing parameters: 'pos', 'src', 'alt', optional 'class'" }}
{{- end }}
